# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.log

# Virtual environments
.venv/
env/
venv/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python Jupyter notebook checkpoints
.ipynb_checkpoints/


